/* Typography */
h5,
p {
	/* Font styling */
	font-size: var(--unit);
	line-height: 1.25em;
}

/* Layouts */
main {
	max-width: var(--body);
	padding: calc(var(--unit) * 4);
	margin: 0 auto;

	@media screen and (max-width: 1023px) {
		padding: calc(var(--unit) * 3) calc(var(--unit) * 2);

	}

	@media screen and (max-width: 544px) {
		padding: calc(var(--unit) * 3) var(--unit);

	}

	section {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: var(--unit);

		@media screen and (max-width: 1919px) {
			grid-template-columns: repeat(5, 1fr);

		}

		@media screen and (max-width: 1439px) {
			grid-template-columns: repeat(4, 1fr);

		}

		@media screen and (max-width: 1023px) {
			grid-template-columns: repeat(3, 1fr);

		}

		@media screen and (max-width: 767px) {
			gap: calc(var(--unit) * .75);

		}

		@media screen and (max-width: 544px) {
			grid-template-columns: repeat(2, 1fr);

		}

		.intro {
			grid-column: 1/-1;
			margin-bottom: calc(var(--unit) * 3);

			@media screen and (max-width: 1023px) {
				margin-bottom: calc(var(--unit) * 1.25);

			}

			h5 {
				margin-bottom: calc(var(--unit) * .25);

				/* Font styling */
				font-size: calc(var(--unit) * 1.25);
				font-weight: 600;

				a {
					color: var(--color-highlight);

					&:hover {
						color: var(--color-background);
						background: var(--color-highlight);
						box-shadow: calc(var(--unit) * -.25) 0 0 var(--color-highlight),
							calc(var(--unit) * .25) 0 0 var(--color-highlight);
					}
				}
			}

			p {
				&.copr {
					color: var(--color-foreground-deep);

					a {
						/* Font styling */
						text-decoration: underline;
					}
				}

				&#bio {
					position: fixed;
					display: none;
					z-index: 1;
					padding: calc(var(--unit) * .25) calc(var(--unit) * .75);
					color: var(--color-background);
					background: var(--color-highlight);

					/* Font styling */
					font-family: 'Noto Sans KR', 'Helvetica Neue', Arial, sans-serif;
					font-size: var(--unit);
					font-weight: 700;
					line-height: 1.5em;
					white-space: nowrap;
				}
			}
		}

		picture {
			overflow: hidden;
			display: flex;
			flex-direction: column;
			gap: var(--unit);
			padding: var(--unit);
			background: var(--color-foreground);
			opacity: 0;

			@media screen and (max-width: 1023px) {
				gap: calc(var(--unit) * .75);
				padding: calc(var(--unit) * .75);

			}

			@media screen and (max-width: 544px) {
				gap: calc(var(--unit) * .5);
				padding: calc(var(--unit) * .5);

			}

			&:hover {
				.tier {
					top: -1px;
					opacity: 1;

					/* Animation */
					transition: all .24s ease;
				}
			}

			.tier {
				position: absolute;
				z-index: 999;
				display: flex;
				align-items: center;
				justify-content: center;
				top: calc(var(--unit) * -2);
				right: calc(var(--unit) * .75);
				width: calc(var(--unit) * 2.25);
				height: calc(var(--unit) * 3.25);
				clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 84%, 0 100%);
				opacity: 0;

				/* Font styling */
				font-size: var(--unit);
				font-weight: 500;
				line-height: 1em;
				text-align: center;
				white-space: nowrap;

				&.-stf {
					background: var(--color-highlight);
				}

				&.-ise {
					background: rgba(255, 124, 248, 1);
				}

				&.-top {
					background: rgba(172, 148, 92, 1);
				}

				&.-mid {
					background: rgba(124, 132, 140, 1);
				}

				&.-bot {
					background: rgba(112, 72, 32, 1);
				}

				&.-und {
					background: rgba(80, 80, 80, 1);

					svg {
						opacity: .64;
					}
				}

				svg {
					width: calc(var(--unit) * 1.25);
					height: calc(var(--unit) * 1.25);
				}
			}

			p {
				padding-left: calc(var(--unit) * .25);
				margin-bottom: calc(var(--unit) * .25);
				color: var(--color-background);

				/* Font styling */
				font-size: calc(var(--unit) * .875);
				font-weight: 500;
				letter-spacing: -0.0125rem;
				white-space: nowrap;

				@media screen and (max-width: 767px) {
					padding-left: calc(var(--unit) * .125);
				}

				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.footer {
			grid-column: 1/-1;
			width: 100%;
			margin-top: calc(var(--unit) * 8);
			color: var(--color-foreground-deep);

			/* Font styling */
			font-size: var(--unit);
			text-align: center;
		}
	}
}