/* Typography */
h1 {
	font-size: calc(var(--unit) * 3.5);
	font-weight: 600;
	line-height: 1.125em;
}

li,
p {
	font-size: 1rem;
	letter-spacing: -.0125rem;
	line-height: 1.625em;
}

ul {
	font-weight: 600;
	margin-top: calc(var(--unit) * .5);

	@media screen and (max-width: 767px) {
		margin-top: calc(var(--unit) * 1);
	}

	li {
		margin-bottom: calc(var(--unit) * .25);

		&:last-child {
			margin: 0;
		}
	}

	a {
		color: var(--color-highlight);

		&:has(svg) {
			display: inline-flex;
			align-items: center;
			gap: .125rem;
		}

		&:hover {
			color: var(--color-background);
			background: var(--color-highlight);
			border-radius: .25rem;
			box-shadow:
				-.25rem 0 0 var(--color-highlight),
				.25rem 0 0 var(--color-highlight);
		}
	}
}

/* Bio */
.-bio {
	margin: calc(var(--unit) * 1) 0 calc(var(--unit) * 4);
	color: var(--color-foreground-deep);

	/* Font styling */
	font-weight: 500;

	a {
		color: var(--color-highlight);

		&:hover {
			color: var(--color-foreground-deep);
		}
	}
}

#bio {
	position: fixed;
	display: none;
	z-index: 1;
	padding: .25rem .75rem;
	color: var(--color-background);
	background: var(--color-highlight);
	border-radius: .25rem;

	/* Font styling */
	font-size: calc(var(--unit) * 1);
	font-weight: 700;
	letter-spacing: -.0375em;
	line-height: 1.5em;
}

/* Layouts */
main {
	max-width: var(--body);
	padding: calc(var(--unit) * 4);
	margin: 0 auto;

	@media screen and (max-width: 1023px) {
		padding: calc(var(--unit) * 4) calc(var(--unit) * 2);

	}

	@media screen and (max-width: 544px) {
		padding: calc(var(--unit) * 4) calc(var(--unit) * 1);

	}
}

section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: calc(var(--unit) * 1);
	margin-bottom: calc(var(--unit) * 4);

	@media screen and (max-width: 1023px) {
		grid-template-columns: repeat(2, 1fr);

	}

	@media screen and (max-width: 427px) {
		grid-template-columns: 100%;

	}

	&:first-child {
		margin: calc(var(--unit) * 4) 0 calc(var(--unit) * 1);

		h1 {
			grid-column: span 2;

			@media screen and (min-width: 768px) and (max-width: 1023px) {
				grid-column: span 1;
			}
		}

		p {
			grid-column: 1 / -1;
		}
	}

	picture {
		opacity: 0;

		img {
			margin-bottom: calc(var(--unit) * .875);
		}

		.caption {
			display: flex;
			align-items: center;
			gap: calc(var(--unit) * .5);
			margin-bottom: calc(var(--unit) * .75);

			span {
				/* Font styling */
				font-weight: 500;
				font-weight: 600;
				line-height: 1.5em;
				word-break: break-all;

				a {
					&:hover {
						color: var(--color-background);
						background: var(--color-highlight);
						border-radius: .25rem;
						box-shadow:
							-.25rem 0 0 var(--color-highlight),
							.25rem 0 0 var(--color-highlight);
					}

					&:has(svg) {
						display: inline-flex;
						align-items: center;
						gap: .125rem;
					}

					svg {
						width: calc(var(--unit) * 1.25);
						height: calc(var(--unit) * 1.25);
					}
				}
			}

			.tier {
				display: flex;
				align-items: center;
				justify-content: center;
				width: calc(var(--unit) * 1.75);
				height: calc(var(--unit) * 1.75);

				/* Font styling */
				font-size: calc(var(--unit) * 1.25);
				font-weight: 900;

				&.-top {
					/* Font styling */
					color: var(--color-highlight);

					svg {
						width: calc(var(--unit) * 1.75);
						height: calc(var(--unit) * 1.75);
						fill: var(--color-highlight);
					}
				}

				&.-mid {
					/* Font styling */
					color: var(--color-foreground-deep);

					svg {
						width: calc(var(--unit) * 1.75);
						height: calc(var(--unit) * 1.75);
						fill: var(--color-foreground-deep);
					}
				}
			}
		}
	}
}

footer {
	max-width: var(--body);
	padding: calc(var(--unit) * 4) calc(var(--unit) * 4) calc(var(--unit) * 6);
	margin: 0 auto;
	color: var(--color-foreground-deep);

	/* Font styling */
	font-weight: 500;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;

	@media screen and (max-width: 1023px) {
		padding-right: calc(var(--unit) * 2);
		padding-left: calc(var(--unit) * 2);

	}

	@media screen and (max-width: 767px) {
		padding-right: calc(var(--unit) * 1);
		padding-left: calc(var(--unit) * 1);

	}
}