/* Typography */
h1 {
	/* Font styling */
	font-weight: 600;
	line-height: 1.125em;
	letter-spacing: -.075rem;

	@media screen and (max-width: 767px) {
		letter-spacing: -.0375rem;

	}
}

p {
	/* Font styling */
	font-size: calc(var(--unit) * 1);
	font-weight: 500;
	line-height: 1.625em;
}

/* Layouts */
main {
	max-width: var(--body);
	padding: calc(var(--unit) * 4);
	margin: 0 auto;

	@media screen and (max-width: 1023px) {
		padding: calc(var(--unit) * 2);

	}

	@media screen and (max-width: 544px) {
		padding: calc(var(--unit) * 1);

	}

	section {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: calc(var(--unit) * 1);

		@media screen and (max-width: 1919px) {
			grid-template-columns: repeat(4, 1fr);

		}

		@media screen and (max-width: 1439px) {
			grid-template-columns: repeat(3, 1fr);

		}

		@media screen and (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
			gap: calc(var(--unit) * .75);

		}

		.intro {
			grid-column: 1/-1;

			h1 {
				margin: calc(var(--unit) * 5) 0;

				/* Font styling */
				font-size: calc(var(--unit) * 5);

				@media screen and (max-width: 767px) {
					margin: calc(var(--unit) * 3) 0;

					/* Font styling */
					font-size: calc(var(--unit) * 3);
				}
			}

			p {
				&:first-child {
					font-size: calc(var(--unit) * 1.25);
				}

				&.copr {
					color: var(--color-foreground-deep);

					a {
						color: var(--color-highlight);
					}
				}

				&#bio {
					position: fixed;
					display: none;
					z-index: 1;
					padding: calc(var(--unit) * .25) calc(var(--unit) * .75);
					color: var(--color-background);
					background: var(--color-highlight);
					border-radius: calc(var(--unit) * .5);

					/* Font styling */
					font-family: 'Noto Sans KR', sans-serif;
					font-size: calc(var(--unit) * 1.25);
					font-weight: 700;
					line-height: 1.5em;
					white-space: nowrap;
				}
			}
		}

		picture {
			padding: calc(var(--unit) * 1);
			background: var(--color-foreground);
			opacity: 0;

			@media screen and (max-width: 767px) {
				padding: calc(var(--unit) * .75) calc(var(--unit) * .75) calc(var(--unit) * 1);
			}

			img {
				margin-bottom: calc(var(--unit) * 1);

				@media screen and (max-width: 767px) {
					margin-bottom: calc(var(--unit) * .75);
				}
			}

			.caption {
				display: flex;
				align-items: center;
				gap: calc(var(--unit) * .375);

				p {
					color: var(--color-background);

					/* Font styling */
					font-family: 'Caveat', cursive;
					font-size: calc(var(--unit) * 1.25);
					font-weight: 700;
					line-height: 1.375em;
					word-break: break-all;

					a {
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.footer {
			grid-column: 1/-1;
			width: 100%;
			margin: calc(var(--unit) * 8) auto;
			color: var(--color-foreground-deep);

			/* Font styling */
			font-weight: 500;
			font-size: 1rem;
			font-weight: 500;
			text-align: center;
		}
	}
}