/* Variables */
:root {
	/* Color theme */
	--color-white: rgba(255, 255, 255, 1);
	--color-black: rgba(16, 16, 16, 1);
	--color-foreground: rgba(255, 255, 255, 1);
	--color-foreground-deep: rgba(255, 255, 255, .56);
	--color-background: rgba(24, 24, 24, 1);
	--color-background-deep: rgba(24, 24, 24, .56);
	--color-highlight: rgba(19, 210, 213, 1);

	/* Width */
	--body: 2560px;

	/* Spacer */
	--unit: 16px;

	@media screen and (max-width: 1439px) {
		--unit: 14px;
	}
}

/* Normalize */
header,
nav,
footer,
main,
section,
article,
div,
figure,
figcaption,
picture,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
hr,
svg,
img,
video,
iframe {
	position: relative;
	box-sizing: border-box;
}

svg {
	flex-shrink: 0;
	fill: currentColor;
}

picture,
img,
video,
iframe {
	display: block;
	width: 100%;
}

video,
iframe {
	background: var(--color-background);
}

a {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

/* Html */
html {
	width: 100%;
	height: auto;
	color: var(--color-foreground);
	background: var(--color-background);

	/* Font styling */
	font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	word-break: keep-all;
	font-display: fallback;
	-webkit-font-display: fallback;

	/* Text size */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
}

body {
	width: 100%;
	height: auto;
}

/* Animation */
.-m {
	animation: fadeInUp .4s ease;
	-webkit-animation: fadeInUp .4s ease;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}